body{
    font-family: 'Agbalumo',cursive;
    background-color: white;
}
.header_div{
    background-color: red;
    color: aliceblue;
}
.header_div p{
    color: black;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
}
.main_div button{
    margin: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.rodapé{
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: blueviolet;
    line-height: 2;
    text-shadow: 5px 5px 5px white;
}
